body{
background: #2193b0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6dd5ed, #2193b0);  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.links{
	display: block;
	position: sticky;
	top: 0;

	min-height: 50px;

	text-align: center;

	background: #213555;
	padding: 0.5%;

	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 10px;
}
.links a{
	display: inline-block;
	width: 20%;
	margin: auto;

	background: #4F709C;

	padding: 1%;

	text-decoration: none;

	font-family: "Ubuntu", sans-serif;
	font-weight: 700;
	font-style: normal;

	color: white;

	border-radius: 5px;

}
.links a:hover{
	color: #99111C;
}

.container{
	display: block;
	width: 80%;
	margin: auto;

	text-align: center;
}
.info{
	padding: 3%;
	display: block;
	width: 80%;
	margin: auto;

	font-family: "Ubuntu", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 20px;
	/*-webkit-text-stroke: 1px black;*/

	color: white;

	background: #213555;
	border-radius: 50px;
	margin-bottom: 5%;
}
img{
	color: white;
}
.th1{
	text-align: center;
	color: white;
	-webkit-text-stroke: 1px black;
	font-size: 45px;


	font-family: "Ubuntu", sans-serif;
	font-weight: 700;
	font-style: normal;

	padding: 2%;

	background: #99111C;
	border-radius: 10px;

	width: 80%;
	margin: auto;
	margin-top: 10%;
	margin-bottom: 5%; 
}
.encMethods{
	display: block;
	margin: 5%;
}
.inText{
	width: 80%;
	margin: auto;
}
label{
	color: white;
}
.inText label{
	float: left;
	margin:0;

	color: white;

	font-family: "Ubuntu", sans-serif;
	font-weight: 700;
	font-style: normal;

	font-size: 15px;

	-webkit-text-stroke: 0.4px black;

	background: #99111C;
	border-radius: 10px;

	padding: 5px;
	padding-left: 5px;

	margin-bottom: 0.5%;
}
.outD{
	display: block;
	width: 90%;
	margin: auto;
	padding: 2%;

	background: #99111C;
	border-radius: 10px;

	text-align: center;
	word-wrap: break-word;

	color: white;

	font-family: "Ubuntu", sans-serif;
	font-weight: 700;
	font-style: normal;
	-webkit-text-stroke: 0.4px black;
}
#outLab{
	display: block;
	margin-left: 0;

	margin-top: 3%;

	font-family: "Ubuntu", sans-serif;
	font-weight: 700;
	font-style: normal;
	-webkit-text-stroke: 0.4px black;

	font-size: 50px;

	color: white;
}
#submit{
	font-family: "Ubuntu", sans-serif;
	font-weight: 700;
	font-style: normal;
	-webkit-text-stroke: 0.4px black;

	font-size: 30px;

	background: #4F709C;
}
form{
	width: 80%;
	margin: auto;
	padding: 1%;

	background: #213555;
	border-radius: 20px;
}
/*form input{
	display: block;
}
form label{
	display: block;
}*/
